In [1]:
import numpy as np
import pandas as pd

from tqdm import tqdm
import os

In [2]:
def load_csv_file(filename):
    try:
        if not os.path.exists(filename):
            print(f"The file: {filename} doesn't exist")
        else:
            print("Found File")
            return pd.concat([chunk for chunk in tqdm(pd.read_csv(filename, chunksize=1000), desc=f'Loading {filename}')])
    except:
        print("Didn't Work! :(")

In [3]:
df1 = load_csv_file('bp-stats-review-2022-consolidated-dataset-panel-format.csv')

Found File

Loading bp-stats-review-2022-consolidated-dataset-panel-format.csv: 8it [00:00, 192.58it/s]

In [4]:
df2 = load_csv_file('bp-stats-review-2022-consolidated-dataset-narrow-format.csv')

Found File

Loading bp-stats-review-2022-consolidated-dataset-narrow-format.csv: 278it [00:00, 895.24it/s]

In [5]:
df1.shape

(7153, 103)

In [6]:
df2.shape

(277095, 12)

In [9]:
df2.head(20)

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value
0,Brazil,2004,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,0.000000
1,Brazil,2005,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,0.014737
2,Brazil,2006,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,1.016887
3,Brazil,2007,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,5.953947
4,Brazil,2008,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,16.534379
5,Brazil,2009,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,23.064175
6,Brazil,2010,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,35.325768
7,Brazil,2011,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,37.893039
8,Brazil,2012,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,40.470648
9,Brazil,2013,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,43.160587
10,Brazil,2014,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,49.979138
11,Brazil,2015,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,58.166478
12,Brazil,2016,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,55.842107
13,Brazil,2017,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,63.398362
14,Brazil,2018,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,78.631637
15,Brazil,2019,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,87.302957
16,Brazil,2020,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,94.780835
17,Brazil,2021,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,100.552537
18,Other North America,1995,O-NAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,biodiesel_cons_kboed,0.000000
19,Other North America,1996,O-NAM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,biodiesel_cons_kboed,0.000000

In [ ]:
df.columns.to_list()

In [ ]:
for i in (df.iloc[0]):
    print(i)