In [2]:
import pandas as pd
from tqdm import tqdm
import os
import re

import matplotlib.pyplot as plt

In [3]:
def load_csv_file(filename):
    try:
        if not os.path.exists(filename):
            print(f"The file: {filename} doesn't exist")
        else:
            print("Found File")
            return pd.concat([chunk for chunk in tqdm(pd.read_csv(filename, chunksize=1000), desc=f'Loading {filename}')])
    except:
        print("Didn't Work! :(")

In [5]:
df1 = load_csv_file("Heart/heart.csv")

Found File

Loading Heart/heart.csv: 1it [00:00, 171.73it/s]

In [6]:
df1

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
df2 = load_csv_file('Heart/o2Saturation.csv')

Found File

Loading Heart/o2Saturation.csv: 4it [00:00, 525.47it/s]

In [10]:
df2

      98.6
0     98.6
1     98.6
2     98.6
3     98.1
4     97.5
...    ...
3580  98.6
3581  98.6
3582  98.6
3583  98.6
3584  98.6

[3585 rows x 1 columns]

In [5]:
df3 = load_csv_file('books.csv')

Found File

Loading books.csv: 3it [00:00, 164.09it/s]

Didn't Work! :(

In [6]:
pd.read_csv("books.csv")

ParserError: Error tokenizing data. C error: Expected 12 fields in line 3350, saw 13